
@model IEnumerable<onlineEShopping.Models.Entities.CategoryModel> 

<table>
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.CategoryName)</th>
            
        </tr>
    </thead>
    <tbody>
       @foreach(var category in Model){
             <tr>
                <td>@category.CategoryName</td>
            </tr>
       }
    </tbody>
</table>