.no-outline:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (min-width: 1050px) {
  .nav-item {
    margin-right: 50px;
  }
}

.profile::after {
  display: none !important;
}
